//General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Colores
@import "color.scss";

//Tipos
@import "tipografias.scss";

//Navbar

.fondonavbar{
    background-color: black;
    padding:1%;

    a{
        font-family:$tipo-secundaria;
        color: white;
        
        &:hover{
            color:$color-celeste}

        &:focus{
            color: gray;
        }    
    }

    .navbar-nav{
        margin-left: 20%;
    }

    .btn{
        background-color: $color-celeste;
        font-family:$tipo-secundaria;
        color: white;
    }

    .navbar-toggler-icon{
        background-image: url(../assets/images/menu.png);
        }
    }

    .carrito{
        margin-top: 10%;
        margin-bottom: 5%;

        .carritoceleste{
            display: none;
        }
        
        &:hover{
            .carritoblanco{
                display: none;
            }
            .carritoceleste{
                display:inline;
            }
    }
}

//Index
.carrusel{
    margin-top: 0.5%;

    .carousel-indicators{
        width: 10%;
        margin-left: 45%;
    }
    .carousel-control-prev-icon{
        width: 10%;
    }
    .carousel-control-next-icon{
        width: 10%;
    }
}

.container-fluid{
    background-color: black;
    margin-top: 0.5%;
    background-image: url(../assets/images/backconlogo.png);

    .titulos-principales{
        padding: 1%;
        font-family: $tipo-primaria;
        color: white;
    }

}

//cards
.card{
    justify-content: center;
    align-items: center;
    text-align: center;

    h5{
        margin-top: 50%;
        font-family:$tipo-secundaria;
        color: white;
    }

}
